{%- set sep = '\n\n\n' %}
{%- for message in messages %}
    {%- set role_current = message['role'] %}
    {%- if not loop.last %}
        {%- set role_next = messages[loop.index]['role'] %}
    {%- endif %}
    {%- set content = message['content'] %}
    {%- if role_current == 'user' %}
        {{- '人类：' + content + sep }}
    {%- elif role_current == 'assistant' %}
        {%- generation %}
        {{- 'AI：' + content + sep }}
        {%- endgeneration %}
    {%- elif role_current == 'chat' %}
        {{- '弹幕：' + content }}
        {%- if role_next != 'chat' %}
            {{- sep }}
        {%- else %}
            {{- "\n" }}
        {%- endif %}
    {%- endif %}
{%- endfor%}
{%- if add_generation_prompt %}AI：{%- endif %}